@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100..900&display=swap');

:root {
	font-family: 'Roboto', Arial, monospace;
	line-height: 1.5;
	font-weight: 400;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	/* Color Scheme */
	--color-scheme: light;

	/* Font Sizes (Responsive Clamp) */
	--fs-100: clamp(0.88rem, calc(0.86rem + 0.06vw), 0.91rem);
	--fs-200: clamp(0.91rem, calc(0.89rem + 0.07vw), 0.95rem);
	--fs-300: clamp(0.94rem, calc(0.92rem + 0.08vw), 0.98rem);
	--fs-400: clamp(1.13rem, calc(1.06rem + 0.33vw), 1.31rem);
	--fs-500: clamp(1.35rem, calc(1.21rem + 0.69vw), 1.75rem);
	--fs-600: clamp(1.62rem, calc(1.37rem + 1.24vw), 2.33rem);
	--fs-700: clamp(1.94rem, calc(1.54rem + 2.03vw), 3.11rem);
	--fs-800: clamp(2.33rem, calc(1.7rem + 3.15vw), 4.14rem);
	--fs-900: clamp(2.8rem, calc(1.85rem + 4.74vw), 5.52rem);

	/* Primary Color Palette */
	--clr-primary-300: #1f52d4;
	--clr-primary-400: hsl(219, 76%, 40%);
	--clr-primary-500: hsl(219, 76%, 25%);

	/* Secondary Color Palette */
	--clr-secondary-300: hsl(0, 0%, 100%);
	--clr-secondary-400: hsl(230, 60%, 94%);
	--clr-secondary-500: hsl(270, 13%, 53%);

	--clr-third-300: hsl(193, 12%, 37%);

	/* Accent Color Palette */
	--clr-accent-200: hsl(358, 85%, 80%);
	--clr-accent-300: hsl(358, 72%, 65%);
	--clr-accent-400: hsl(358, 72%, 50%);
	--clr-accent-500: hsl(358, 72%, 35%);
}
